html {
    font-family: $main-font-family;
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    color: $basic-font-color;
}
body {
    padding: .250rem;
    background-color: $gray-bcg;
}
.flex {
    display: flex;
}
.flex__column {
    flex-direction: column;
}
.flex__row {
    flex-direction: row;
}
.flex__justify-center {
    justify-content: center;
}
.flex__justify-between {
    justify-content: space-between;
}
.flex__space-evenly {
    justify-content: space-evenly;
}
.flex__justify-spacearound {
    justify-content: space-around;
}
.flex__align-center {
    align-items: center;
}