<div class="station__container">
  <h2 class="station__container-header">Osiedle Chabry</h2>
  <div class="station__container-data flex flex__row flex__justify-spacearound">
    <div class="station__data-ijp">
      <h3>ijp</h3>
      <p class="data__ijp">99</p>
      <p class="text__ijp">Bardzo dobry</p>
    </div>
    <div class="station__data-pm25">
      <h3>pm 2.5</h3>
      <p class="data__pm25">100</p>
      <p class="units">&micro;g/m<sup>3</sup></p>
    </div>
    <div class="station__data-pm10">
      <h3>pm 10</h3>
      <p class="data__pm10">100</p>
      <p class="units">&micro;g/m<sup>3</sup></p>
    </div>
  </div>
</div>
