<div class="station__container">
  <h2 class="station__container-header">{{ locationName }}</h2>
  <div class="station__container-data flex flex__row flex__justify-spacearound">
    <div class="station__data-ijp {{ ijpBcg }}">
      <h3>ijp</h3>
      <p class="data__ijp">{{ lookoData.ijp }}</p>
      <p class="text__ijp">{{ lookoData.ijpString }}</p>
    </div>
    <div class="station__data-pm25 {{ pm25Bcg }}">
      <h3>pm 2.5</h3>
      <p class="data__pm25">{{ lookoData.pm25 }}</p>
      <p class="units">&micro;g/m<sup>3</sup></p>
    </div>
    <div class="station__data-pm10 {{ ijpBcg }}">
      <h3>pm 10</h3>
      <p class="data__pm10">{{ lookoData.pm10 }}</p>
      <p class="units">&micro;g/m<sup>3</sup></p>
    </div>
  </div>
  <div class="container__refresh" (click)="refreshOnClick()">
    kliknij aby odświeżyć
  </div>
</div>
