// fonts
$main-font-family: 'Roboto', sans-serif;
$main-font-size: 16px;
$main-font-weight: 300;
$basic-font-color: #5e5e5e;

// text colors
$text-orange: #ff3d00;

// colors 
$white-bcg: #ffffff;
$gray-bcg: #d3d3d3;