// fonts
$main-font-family: 'Roboto', sans-serif;
$main-font-size: 16px;
$main-font-weight: 300;
$basic-font-color: #5e5e5e;

// text colors
$text-orange: #ff3d00;
$text-white: #fff;

// colors 
$white-bcg: #fff;;
$gray-bcg: #d3d3d3;
$light-gray-bcg: #e0e0e0;