<div class="data__container-weather">
  <div class="weather__lastupdate">
    <h2 class="weather__lastupdate-header">
      Ostatia aktualizacja dla Opole
    </h2>
    <p class="weather__lastupdate-content">2017-08-16 12:00</p>
  </div>
  <div class="weather__current-container">
    <div class="weather__current-condition">
      słońce
    </div>
    <div class="weather__current-temp">
      <span>32&deg;</span>
      <span>C</span>
    </div>
  </div>
  <div class="weather__moredata-container">
    <div class="weather__moredata-feelstemp">
      <h3>temperatura odczuwalna</h3>
      <div class="feelstemp__container">
        <span>19&deg;</span>
        <span>C</span>
      </div>
    </div>
    <div class="weather__moredata-wind">
      <h3>Wiatr</h3>
      <div class="wind__container">
        <div class="moredata__wind-direction">
          NWE
        </div>
        <div class="moredata__wind-speed">
          <span>100</span>
          <span>km/h</span>
        </div>
      </div>
    </div>
    <div class="weather__moredata-presure">
      <h3>ciśnienie</h3>
      <div class="presure__container">
        <span>1020</span>
        <span>mb</span>
      </div>
    </div>
    <div class="weather__moredata-precip">
      <h3>opady</h3>
      <div class="percip__container">
        <span>100</span>
        <span>mm</span>
      </div>
    </div>
    <div class="weather__woredata-humidity">
      <h3>wilgotność</h3>
      <div class="humidity__container">
        <span>88</span>
        <span>%</span>
      </div>
    </div>
  </div>
</div>