// import variables
@import '../../../scss/variables/_varaibles';
@import '../../../scss/extends/_extends';

// content
.data__container-weather {
    margin-top: .500rem;
    padding: 1rem;
    color: $text-orange;
    text-align: center;
}
.weather__lastupdate {
    margin-bottom: 1rem;
}
.weather__lastupdate-header {
    font-size: 1.225rem;
    text-transform: uppercase;
    margin-bottom: .250rem;
}
.weather__lastupdate-content {
    font-weight: 400;
}
.weather__lastupdate-refresh {
    cursor: pointer;
        i {
            font-size: 2.500rem;
        }
        span {
            display: inline-block;
            margin-left: .500rem;
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 16px;
        }
}
.weather__current-container {

}
.weather__current-condition {
    width: 45%;
    font-size: 4rem;
}
.weather__current-temp {
    width: 55%;
    font-size: 3.250rem;
        span {
            font-weight: 400;
        }
}
.weather__moredata-container {
    margin-top: 1rem;
}
.weather__moredata-feelstemp {
    @extend %weather-more-data;
    .feelstemp__container {
        span {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}
.weather__moredata-wind {
    @extend %weather-more-data;
    margin: 1rem 0;
}
.moredata__windspeed {
    @extend %weather-more-data;    
}
.moredata__winddirection-icon {
    width: 100%;
    font-size: 4rem;
    line-height: 4rem;
        p {
            line-height: 1.5rem;
            font-size: 2rem;
            font-weight: 400;
        }
}
.windspeed-speed {
    width: 55%;
    font-size: 3rem;
    font-weight: 400;
}
.windspeed-units {
    font-size: 1.225rem;
}
.weather__moredata-presure {
    @extend %weather-more-data;
}
.weather__moredata-presure {
    @extend %weather-more-data;
}
.weather__moredata-precip {
    @extend %weather-more-data;
}
.weather__moredata-humidity {
    @extend %weather-more-data;
}